*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    position:fixed;
    top:20px;
    left:50%;
    transform:translateX(-50%);
    width:90%;
    padding:18px 40px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.15);
    border-radius:50px;

    z-index:1000;
    box-shadow:0 8px 32px rgba(0,0,0,.3);
}

.logo{
    color:#8b5cf6;
    font-size:28px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:.3s;
    position:relative;
}

.nav-links a:hover{
    color:#8b5cf6;
}

.nav-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-5px;
    width:0;
    height:2px;
    background:#8b5cf6;
    transition:.3s;
}

.nav-links a:hover::after{
    width:100%;
}

@media(max-width:768px){

.navbar{
    flex-direction:column;
    gap:15px;
    padding:20px;
}

.nav-links{
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

}